@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Heebo:wght@300&family=Montserrat:wght@300&family=Noto+Sans+Display:ital,wght@1,300&family=Noto+Sans:wght@700&family=Noto+Serif:ital,wght@1,700&family=Poppins:wght@400;600&display=swap");
      * {
        margin: 0;
        padding: 0;
      }
      body{
        background-image: url("bg3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      nav {
        font-family: "Noto Sans", sans-serif;
        font-weight: 900;
        display: flex;
        font-size: 20px;
        background-color: rgb(129, 234, 220);
        padding: 23px;
      }
      nav li a {
        text-decoration: none;
        color: black;
        transition: all;
        transition-duration: 500ms;
      }
      nav li a:hover {
        text-decoration: none;
        color: rgb(198, 105, 153);
      }
      div.logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 23px;
        font-size: 24px;
      }
      nav ul li {
        list-style: none;
        margin: 0 23px;
      }
      nav ul {
        display: flex;
      }
      .container {
        min-height: 100vh;
        font-family: "Poppins", sans-serif;
        max-width: 160vh;
        margin: auto;
        color: white;
      }
      .container h1,
      h2 {
        margin: 20px 0;
      }
      .container form {
        display: flex;
        flex-direction: column;
      }
      .container form label {
        font-size: 25px;
      }
      .container form input[type="number"],
      select {
        font-size: 25px;
        width: 23vw;
        margin-bottom: 23px;
      }
      .btn {
        width: 144px;
        padding: 5px 11px;
        font-size: 20px;
        background-color: aquamarine;
        color: black;
        border-radius: 13px;
        cursor: pointer;
      }

      .output {
        display: none;
        
      }
      .output table {
        color:aquamarine;
        width: 50vw;
        text-align: center;
        border: 2px solid black;
        font-size: 20px;
      }
      .output table th {
        padding: 3px;
      }
      @media (max-width: 600px) {
        nav {
          flex-direction: column;
          font-size: 14px;
        }
        nav ul li {
          margin: 5 13px;
        }
        nav ul {
          justify-content: center;
        }
        .container {
          max-width: 95vw;
        }
        .container form input[type="number"],
        select,
        label {
          font-size: 25px;
          width: 80vw;
        }
      }

      footer {
        color: white;
        text-align: center;
      }
